.hidden.menu {
  display: none;
}

.masthead .button {
  margin: 50px;
}
.masthead.segment {
  min-height: 700px;
  padding: 1em 0em;
}
.masthead .logo.item img {
  margin-right: 1em;
}
.masthead h1.ui.header {
  font-weight: bolder !important;
  margin-top: 1em;
  margin-bottom: 1em;
  font-size: 3.1em;
  font-weight: normal;
  border-bottom: 5px solid #4499CC;
}

.guides.segment {
  min-height: 300px;
  padding: 1em 0em;
}

.guides h1.ui.header {
  font-weight: bolder !important;
  margin-top: 1em;
  margin-bottom: 1em;
  font-size: 3.1em;
  font-weight: normal;
  border-bottom: 5px solid #4499CC;
}

.menu h1 {
  border-bottom: 3px solid #4499CC;
}

.masthead h2 {
  font-size: 1.7em;
  font-weight: normal;
}
.masthead .early.cta {
  display: none;
}

.masthead .item {
  height: 100%;
}

.features img {
  margin-bottom: 1em;
}

.features h2 {
  margin-bottom: 1em;
}

.ui.vertical.stripe {
  padding: 8em 0em;
}
.ui.vertical.stripe h3 {
  font-size: 2.5em;
}
.ui.vertical.stripe h4 {
  font-size: 1.8em;
}
.ui.vertical.stripe .button + h3,
.ui.vertical.stripe p + h3 {
  margin-top: 3em;
}

.ui.vertical.stripe .floated.image {
  clear: both;
}
.ui.vertical.stripe p {
  font-size: 1.33em;
}
.ui.vertical.stripe .horizontal.divider {
  margin: 3em 0em;
}

.trust {
  height: 200px;
  background: url("../images/padlock.svg") no-repeat center;
}

.ui.vertical.stripe.contact {
        background: repeating-linear-gradient(
            45deg,
            #5ad,
            #5ad 20px,
            #4499CC 20px,
            #4499CC 40px
        );
  background-color: #4499CC;
}

.ui.vertical.stripe.contact .form label {
  color: #efefef;
}

.footer.segment {
  padding: 5em 0em;
}

.large.screen.only {
  display: block !important;
}

.mobile.only {
  display: none !important;
}

span.logo {
  color: #4499CC;
}

    .hero {
        background: repeating-linear-gradient(45deg, #2f2f2f 0%, #2f2f2f 20%, #3f3f3f 0, #3f3f3f 50%) !important;
    }

blockquote strong {
  font-size: 5em;
}

blockquote {
  font-style: italic;
  margin-top: 50px;
  line-height: 1.5em;
}

@media only screen and (max-width: 700px) {
  .masthead .early.cta {
    display: block;
  }
  .masthead.segment {
    min-height: 350px;
  }
  .masthead h1.ui.header {
    font-size: 2.0em;
    margin-top: 0.5em;
  }
  .masthead h2 {
    margin-top: 0.5em;
    font-size: 1.5em;
  }

  .large.screen.only {
    display: none !important;
  }

  .mobile.only {
    display: block !important;
  }

  .mobile.only .header {
    margin-top: 1em;
    color: #4499CC;
  }

  .mobile.light {
    background-color: #4499CC;
  }
}
