<div class="ui vertical stripe segment contact">
	<div class="ui text container">
		<h3 class="ui inverted header">Get In Touch</h3>
		<h5 class="ui header inverted">No spam. You will only ever be contacted by a <u>real human being</u>.</h5>
		<div class="ui form"><form>
			<div class="two fields">
				<div class="field">
					<label>Full Name</label>
					<input placeholder="John Doe" type="text"/>
				</div>
				<div class="field">
					<label>Work Email</label>
					<input placeholder="john.doe@company.com" type="email"/>
				</div>
			</div>
			<div class="ui segment field"><span>I'm most interested in talking about
				<div class="ui inline dropdown">
					<div class="text">
						<img class="ui avatar image" src="/images/question-icon-small.png"/>
						Please Select One
					</div>
					<i class="dropdown icon"></i>
					<div class="menu">
						<div class="item">
							<img class="ui avatar image" src="/images/explode-icon-small.png"/>
							A Two-Week MVP
						</div>
						<div class="item">
							<img class="ui avatar image" src="/images/computer-icon-small.png">
							Web Development
						</div>
						<div class="item">
							<img class="ui avatar image" src="/images/tablet-icon-small.png">
							Mobile Development
						</div>
						<div class="item">
							<img class="ui avatar image" src="/images/gears-icon-small.png">
							Software Automation
						</div>
						<div class="item">
							<img class="ui avatar image" src="/images/graph-icon-small.png">
							IT Strategy and Roadmapping
						</div>
					</div>
				</div>.
			</span></div>
			<div class="field">
				<label>Message</label>
				<textarea rows="2" placeholder="Optional..." type="text"></textarea>
			</div>
			<div class="ui grid"><div class="center aligned row">
				<div class="column">
					<button class="ui primary button huge" type="submit">
						<i class="mail icon"></i>Submit</button>
				</div>
			</div></div>
		</div></div>
	</div>
</div>

