<!-- Following Menu -->
<div class="ui large top fixed hidden menu floating-nav">
  <div class="ui container">
    <a class="header item">
      <h3>  
        <span class="mobile only">WYC</span>
        <span class="large screen only">WYC Technology</span>
      </h3>
    </a>
    <div class="right menu">
      <a href="/#" class="home-button $if(home)$active-button active $endif$item">Home</a>
      <a href="/guides" class="guides-button $if(guides)$active-button active $endif$item">Guides</a>
      <a href="#" class="contact-button item">Contact</a>
    </div>
  </div>
</div>
