<div class="ui inverted vertical stripe segment subscribe">
	<div class="ui text container cta">
    <h4 class="ui inverted header">Sign up for the email newsletter that will
      improve your business's IT strategy. No sales pitches. Just the
      information.</h4>
    <form>
      <div class="ui form">
        <label class="ui inverted header"><h5>Work Email</h5></label>
        <div class="two fields">
          <div class="twelve wide field">
            <input placeholder="john.doe@company.com" type="email"/>
          </div>
          <div class="four wide field">
            <button class="ui primary button" type="submit">
              <i class="send icon"></i>Sign Up!</button>
          </div>
        </div>
      </div>
    </form>
	</div>
</div>

