<div class="ui inverted vertical stripe segment subscribe">
	<div class="ui text container cta">
    <h4 class="ui inverted header">Sign up for the email newsletter that will
      improve your business's IT strategy. No sales pitches. Just the
      information.</h4>
    <form action="https://wyc.us15.list-manage.com/subscribe/post?u=b1469d7e803d32d0dc004d023&amp;id=aa9dcd3276" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
      <div class="ui form">
        <label class="ui inverted header"><h5>Work Email</h5></label>
        <div class="two fields">
          <div class="twelve wide field">
            <input placeholder="john.doe@company.com" type="email" name="EMAIL" required/>
            <!-- real people should not fill this in and expect good things -->
            <div style="position: absolute; left: -5000px;" aria-hidden="true">
              <input type="text" name="b_b1469d7e803d32d0dc004d023_aa9dcd3276"
                     tabindex="-1" value=""/>
            </div>
          </div>
          <div class="four wide field">
            <button class="ui primary button" type="submit">
              <i class="send icon"></i>Sign Up!</button>
          </div>
        </div>
      </div>
    </form>
	</div>
</div>

